<div class="about_header">
  <h1 class="about_title">Shrimad Bhagavad Gita</h1>
  <h1 class="about_title">Song of God</h1>
  <p class="about_subtitle">18 Chapters & 700 Verses</p>
</div>

<p class="about_body">
  The Bhagavad Gita, or the Song of the Lord, is a dialogue between Krishna, an
  incarnation of Vishnu, and his friend and disciple, Arjuna. This dialogue
  takes place in the Bhishma Parva of the Mahabharata. The Bhagavad Gita is
  composed of 701 Shlokas (verses) arranged in 18 chapters. It is one of the
  best-known philosophical texts of Hinduism, and is said to contain the essence
  of Upanishadic thought. The Bhagavad Gita occurs just before the great battle
  of Mahabharata begins. The army mustered by the five Pandava brothers was to
  fight the battle against the army of the Pandava's cousin, Duryodhana, who had
  robbed them (the Pandavas) of their rightful kingdom and further, refused to
  participate in any plans for a compromise. After making all possible attempts
  to peacefully get back their kingdom, or even the right to own a mere five
  villages in the kingdom, the Pandava brothers decided to fight a war to gain
  justice.
  <br />
  <br />
  Arjuna, the third of the five Pandava princes, was perhaps the greatest and
  most renowned warrior-hero in the Pandava army. Before the battle began, both
  Duryodhana and Arjuna went to Krishna to seek his aid. Krishna said that he
  would not personally lift weapons and fight in the battle, but the cousins
  could choose to have him, unarmed, on their side, or to have the use of his
  large army. Arjuna chose to have Krishna with him, and Duryodhana was
  delighted to add the vast, skilled army of Krishna to his forces. Krishna
  agreed to drive Arjuna's chariot and thus to be with him throughout the
  battle.
  <br />
  <br />
  Just before the fighting commenced, Arjuna asked Krishna to place his chariot
  between the two armies, so that he could take a good look at his enemy. In the
  enemy ranks, Arjuna saw his cousins, other relatives and his teachers. At this
  crucial moment, Arjuna's attachment to his preceptors and family came to the
  fore, and doubt entered his mind as to the 'rightness' of the battle. In his
  confusion, he no longer knew the course of action that he should take, and he
  turned to Krishna for guidance. Krishna talked to him, helping him to examine
  his own motives and desires, and showing him ways to rise above the
  limitations of his own personality to do what was best for himself and good
  for society. This dialogue between Krishna and Arjuna, is the Bhagavad Gita.
  <br />
  <br />
  The eighteen chapters of the Bhagavad Gita are classified as 'Yogas', starting
  with the 'yoga' of Arjuna's depression and ending with the Yoga of 'liberation
  through renunciation'
</p>
