<footer class="footer">
  <div class="social_links">
    <a href="https://www.linkedin.com/in/iamdipankarpaul/"
      ><i class="bi bi-linkedin"></i
    ></a>
    <a href="https://github.com/dipankarpaul2k"><i class="bi bi-github"></i></a>
  </div>
  <p>
    &copy; <%= new Date().getFullYear(); %> Dipankar Paul &bullet; Built with
    nodejs, express, ejs and API.
  </p>
</footer>
