<header class="header">
  <a href="/" class="header-logo">Shrimad Bhagavad Gita</a>
  <nav class="header-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="header-menu-icon">
    <i class="bi bi-list"></i>
  </div>
</header>


